*{
    margin: 0%;
    padding: 0;
    
}
.img{
    height: 22px;
}
img{
    max-width: 100%;
}
.amare,ul{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    text-decoration: none;
    background-color: black;
    justify-content: space-between;
    height:50px;
    text-align: center;
    padding-top: 15px;
    font-weight: 1000;
    - : justify;

.h1{
    font-size: smaller;
    font-style: italic;
}
    
}
.ul1,.l1,.l2,.l3,.l4,.ls,.l6,.l7,.l8 a{
    justify-content: space-between;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
.image{
    color: white;
}
.section1 {
    width: 980px;
    margin-left: auto;
    margin-right: auto;

}

.div1{
    text-align: center;
    font-weight: 1300px;
}
.image{
    display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.section1{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.section2{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.div4{
    text-align: center;
}
.img1{
    width: 100%;
}
.div5{
    text-align: center;
}
.div6{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%
}
.div6{
    max-width: 100%;
}
.img-4{
    max-width: 100%;
}
.section-3,.div8 ,.div9{
display:block
}
.image{
    height: 100px;
}
.section-3,.div8,.image,.imagea {
    margin-left: 10px;
}
.div8 img{
margin-left: 10px;

color: bisque;
}
